# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\aryan\Desktop\UIC Academics\UIC-CS\CS 342\FINALprojectsForGitHub\GLMaven_Project1_SP2020\GLMaven_Project1_SP2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
